# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.secret
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.auto.tfvars.secret
*.tfplan
